HealthVault.Client/bin/*.*
HealthVault.Client/obj/*.*
HealthVault.Model/obj/*.*
HealthVault.Model/bin/*.*
HealthVault.Service/bin/*.*
HealthVault.Service/obj/*.*
HealthVault.Client/bin/Debug/netcoreapp3.1/appsettings.Development.json
HealthVault.Client/bin/Debug/netcoreapp3.1/appsettings.json
HealthVault.Client/bin/Debug/netcoreapp3.1/efpt.config.json
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.deps.json
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.exe
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.pdb
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.runtimeconfig.dev.json
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.runtimeconfig.json
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.Views.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Client.Views.pdb
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Model.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Model.pdb
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Service.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Service.exe
HealthVault.Client/bin/Debug/netcoreapp3.1/HealthVault.Service.pdb
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
HealthVault.Client/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.AssemblyInfo.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.AssemblyInfoInputs.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.assets.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.csproj.CopyComplete
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.csproj.CoreCompileInputs.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.csproj.FileListAbsolute.txt
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.csprojAssemblyReference.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.dll
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.genruntimeconfig.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.MvcApplicationPartsAssemblyInfo.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.MvcApplicationPartsAssemblyInfo.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.pdb
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.RazorAssemblyInfo.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.RazorAssemblyInfo.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.RazorComponent.input.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.RazorCoreGenerate.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.RazorTargetAssemblyInfo.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.RazorTargetAssemblyInfo.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.TagHelpers.input.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.TagHelpers.output.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.Views.pdb
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/_Imports.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/App.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Pages/_Host.cshtml.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Pages/Counter.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Pages/Error.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Pages/FetchData.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Pages/Index.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Shared/MainLayout.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Shared/NavMenu.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Shared/SurveyPrompt.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/HealthVault.Client.dll
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Counter.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchData.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/staticwebassets/HealthVault.Client.StaticWebAssets.Manifest.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/staticwebassets/HealthVault.Client.StaticWebAssets.xml
HealthVault.Model/bin/Debug/netstandard2.0/HealthVault.Model.deps.json
HealthVault.Model/bin/Debug/netstandard2.0/HealthVault.Model.dll
HealthVault.Model/bin/Debug/netstandard2.0/HealthVault.Model.pdb
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.Model.AssemblyInfo.cs
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.Model.AssemblyInfoInputs.cache
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.model.assets.cache
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.Model.csproj.CoreCompileInputs.cache
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.model.csproj.FileListAbsolute.txt
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.Model.csprojAssemblyReference.cache
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.Model.dll
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.Model.pdb
HealthVault.Service/bin/Debug/netcoreapp3.1/appsettings.Development.json
HealthVault.Service/bin/Debug/netcoreapp3.1/appsettings.json
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Model.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Model.pdb
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Service.deps.json
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Service.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Service.exe
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Service.pdb
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Service.runtimeconfig.dev.json
HealthVault.Service/bin/Debug/netcoreapp3.1/HealthVault.Service.runtimeconfig.json
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
HealthVault.Service/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.AssemblyInfo.cs
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.AssemblyInfoInputs.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.assets.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.csproj.CopyComplete
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.csproj.CoreCompileInputs.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.csproj.FileListAbsolute.txt
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.csprojAssemblyReference.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.dll
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.genruntimeconfig.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.MvcApplicationPartsAssemblyInfo.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.pdb
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.RazorTargetAssemblyInfo.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/staticwebassets/HealthVault.Service.StaticWebAssets.Manifest.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/staticwebassets/HealthVault.Service.StaticWebAssets.xml
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.assets.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.csproj.FileListAbsolute.txt
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.model.assets.cache
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.model.csproj.FileListAbsolute.txt
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.assets.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.csproj.FileListAbsolute.txt
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.assets.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.assets.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.csproj.FileListAbsolute.txt
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.model.assets.cache
HealthVault.Model/obj/Debug/netstandard2.0/HealthVault.model.csproj.FileListAbsolute.txt
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.assets.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.csproj.FileListAbsolute.txt
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.assets.cache
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.csproj.FileListAbsolute.txt
HealthVault.Client/obj/Debug/netcoreapp3.1/project.razor.json
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.assets.cache
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.csproj.FileListAbsolute.txt
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.exe
HealthVault.Client/obj/Debug/netcoreapp3.1/HealthVault.Client.Views.dll
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/HealthVault.Client.pdb
HealthVault.Service/obj/Debug/netcoreapp3.1/HealthVault.Service.exe
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Components/TableComponent.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/Razor/Pages/Binding-example.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Components/ChildComponent.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Components/TableComponent.razor.g.cs
HealthVault.Client/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Binding-example.razor.g.cs
HealthVault.Service/obj/Debug/netcoreapp3.1/project.razor.json
.vs/HealthVault/DesignTimeBuild/.dtbcache.v2
*.dll
*.pdb
/HealthVault.Client/HealthVault.Client.csproj.user
/HealthVault.Shared/obj
/HealthVault.Service/obj/Debug/netcoreapp3.1
/HealthVault.Shared/bin/Debug/netstandard2.0
/HealthVault.Client/obj/Debug/netcoreapp3.1
/HealthVault.DAL/obj
/HealthVault.Model/obj/Release/netstandard2.0
/HealthVault.Service/obj/Release/netcoreapp3.1
/HealthVault.Web.Client/obj
/.vs/HealthVault.App.Server/DesignTimeBuild/.dtbcache.v2
/.vs/HealthVault.App.Server/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/HealthVault/v16/.suo
/.vs/*
/HealthVault.Web.Client/bin/Debug/netcoreapp3.1
/HealthVault.Web.Client/bin
