@page "/binding-example"

<p>
    <input type="text" @bind="_paragraphStyle" @bind:event="oninput" />
</p>

<p @bind-style="_paragraphStyle" @bind-style:event="onchange">
    Blazorify the app!
</p>

<p >@_paragraphStyle</p>


@code {
    private string _paragraphStyle = "color:red";
}